<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="example">
            <file>./tests/ExampleTest.php</file>
        </testsuite>
        <testsuite name="environment">
            <file>./tests/Unit/EnvironmentTest.php</file>
        </testsuite>
        <testsuite name="user">
            <file>./tests/Unit/UserTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>